<!-- BEGIN_INCLUDE(twilio:getAccountDetails) -->
        <twilio:get-account-details />
<!-- END_INCLUDE(twilio:getAccountDetails) -->

<!-- BEGIN_INCLUDE(twilio:getAllAccountsDetails) -->
        <twilio:get-all-accounts-details accountStatus="SUSPENDED" friendlyName="coco"/>
<!-- END_INCLUDE(twilio:getAllAccountsDetails) -->

<!-- BEGIN_INCLUDE(twilio:updateAccount) -->
        <twilio:update-account accountStatus="CLOSED" friendlyName="juan"/>
<!-- END_INCLUDE(twilio:updateAccount) -->

<!-- BEGIN_INCLUDE(twilio:createSubAccount) -->
        <twilio:create-sub-account friendlyName="raul"/>
<!-- END_INCLUDE(twilio:createSubAccount) -->

<!-- BEGIN_INCLUDE(twilio:getSubAccountByAccountSid) -->
        <twilio:get-sub-account-by-account-sid accountSid="AC8e51fecefbf0b501caced6266d723b3c"/>
<!-- END_INCLUDE(twilio:getSubAccountByAccountSid) -->

<!-- BEGIN_INCLUDE(twilio:getSubAccountByFriendlyName) -->
        <twilio:get-sub-account-by-friendly-name friendlyName="fede"/>
<!-- END_INCLUDE(twilio:getSubAccountByFriendlyName) -->

<!-- BEGIN_INCLUDE(twilio:exchangePhoneNumbersBetweenSubaccounts) -->
        <twilio:exchange-phone-numbers-between-subaccounts accountSidFrom="AC8e51fecefbf0b501caced6266d723b3c"
                                                           accountSidTo="AC970e46372f082a4947642b9cf19cafa7"
                                                           incomingPhoneNumberSid="321"/>
<!-- END_INCLUDE(twilio:exchangePhoneNumbersBetweenSubaccounts) -->

<!-- BEGIN_INCLUDE(twilio:getAvailablePhoneNumbers) -->
        <twilio:get-available-phone-numbers isoCountryCode="AR"
                                            areaCode="some-area-code" contains="*" inRegion="in-some-region"
                                            inPostalCode="in-some-postal-code"/>
<!-- END_INCLUDE(twilio:getAvailablePhoneNumbers) -->

<!-- BEGIN_INCLUDE(twilio:getAvailablePhoneNumbersAdvancedSeach) -->
        <twilio:get-available-phone-numbers-advanced-seach isoCountryCode="AR" areaCode="some-area-code" contains="*"
                                                           inRegion="inSomeRegion"
                                                           inPostalCode="inSomePostalCode" nearLatLong="nearSomeLatLong"
                                                           nearPhoneNumber="nearSomePhoneNumber" inLata="inSomeLata"
                                                           inRateCenter="inSomeRateCenter" distance="someDistance"/>
<!-- END_INCLUDE(twilio:getAvailablePhoneNumbersAdvancedSeach) -->

<!-- BEGIN_INCLUDE(twilio:getAvailableTollFreeNumbers) -->
        <twilio:get-available-toll-free-numbers isoCountryCode="AR"
                                                contains="*"/>
<!-- END_INCLUDE(twilio:getAvailableTollFreeNumbers) -->

<!-- BEGIN_INCLUDE(twilio:getOutgoingCallerIdByOutgoingCallerIdSid) -->
        <twilio:get-outgoing-caller-id-by-outgoing-caller-id-sid outgoingCallerIdSid="some-outgoing-caller-id-sid"/>

<!-- END_INCLUDE(twilio:getOutgoingCallerIdByOutgoingCallerIdSid) -->

<!-- BEGIN_INCLUDE(twilio:updateOutgoingCallerIdByOutgoingCallerIdSid) -->
        <twilio:update-outgoing-caller-id-by-outgoing-caller-id-sid outgoingCallerIdSid="some-outgoing-caller-id-sid"
                                                                    friendlyName="some-friendly-name"/>
<!-- END_INCLUDE(twilio:updateOutgoingCallerIdByOutgoingCallerIdSid) -->

<!-- BEGIN_INCLUDE(twilio:getAllOutgoingCallerIds) -->
        <twilio:get-all-outgoing-caller-ids phoneNumber="some-phone-number" friendlyName="some-friendly-name"/>
<!-- END_INCLUDE(twilio:getAllOutgoingCallerIds) -->

<!-- BEGIN_INCLUDE(twilio:addNewCallerId) -->
        <twilio:add-new-caller-id phoneNumber="some-phone-number"
                                  friendlyName="some-friendly-name" callDelay="1"
                                  extension="some-extension"/>
<!-- END_INCLUDE(twilio:addNewCallerId) -->

<!-- BEGIN_INCLUDE(twilio:deleteOutgoingCallerId) -->
        <twilio:delete-outgoing-caller-id outgoingCallerIdSid="some-outgoing-caller-id-sid"/>
<!-- END_INCLUDE(twilio:deleteOutgoingCallerId) -->

<!-- BEGIN_INCLUDE(twilio:getIncomingPhoneNumbersByIncomingPhoneNumberSid) -->
        <twilio:get-incoming-phone-numbers-by-incoming-phone-number-sid incomingPhoneNumberSid="some-incoming-phone-number-sid"/>
<!-- END_INCLUDE(twilio:getIncomingPhoneNumbersByIncomingPhoneNumberSid) -->

<!-- BEGIN_INCLUDE(twilio:updateIncomingPhoneNumbers) -->
        <twilio:update-incoming-phone-numbers incomingPhoneNumberSid="some-incoming-phone-number-sid"
                                              friendlyName="some-friendly-name" apiVersion="2010-04-01"
                                              voiceUrl="some-voice-url"
                                              voiceMethod="GET"
                                              voice-fallback-flow-ref="flowToExecuteOnVoiceFallback"
                                              status-callback-flow-ref="flowToExecuteOnStatusCallback"
                                              voiceCallerIdLookup="true"
                                              voiceApplicationSid="some-voice-application-sid"
                                              smsUrl="some-sms-url"
                                              smsMethod="GET"
                                              sms-fallback-flow-ref="flowToExecuteOnSmsFallback"
                                              smsApplicationSid="some-sms-application-sid"
                                              accountSidDestination="some-account-sid-destination"/>
<!-- END_INCLUDE(twilio:updateIncomingPhoneNumbers) -->

<!-- BEGIN_INCLUDE(twilio:deleteIncomingPhoneNumber) -->
        <twilio:delete-incoming-phone-number incomingPhoneNumberSid="some-incoming-phone-number-sid"/>
<!-- END_INCLUDE(twilio:deleteIncomingPhoneNumber) -->

<!-- BEGIN_INCLUDE(twilio:getIncomingPhoneNumbers) -->
        <twilio:get-incoming-phone-numbers phoneNumber="some-phone-number" friendlyName="some-friendly-name"/>
<!-- END_INCLUDE(twilio:getIncomingPhoneNumbers) -->

<!-- BEGIN_INCLUDE(twilio:addIncomingPhoneNumberByPhoneNumber) -->
        <twilio:add-incoming-phone-number-by-phone-number phoneNumber="some-phone-number"
                                                          friendlyName="some-friendly-name"
                                                          voiceUrl="some-voice-url"
                                                          voiceMethod="GET"
                                                          voice-fallback-flow-ref="flowToExecuteOnVoiceFallback"
                                                          smsApplicationSid="some-sms-application-sid"
                                                          sms-fallback-flow-ref="flowToExecuteOnSmsFallback"
                                                          smsUrl="some-sms-url"
                                                          smsMethod="GET"
                                                          status-callback-flow-ref="flowToExecuteOnStatusCallback"
                                                          voiceApplicationSid="some-voice-application-sid"
                                                          voiceCallerIdLookup="false"/>
<!-- END_INCLUDE(twilio:addIncomingPhoneNumberByPhoneNumber) -->

<!-- BEGIN_INCLUDE(twilio:addIncomingPhoneNumberByAreaCode) -->
        <twilio:add-incoming-phone-number-by-area-code areaCode="some-area-code"
                                                       status-callback-flow-ref="flowToExecuteOnStatusCallback"
                                                       voiceApplicationSid="some-voice-application-sid"
                                                       voiceCallerIdLookup="false" friendlyName="some-friendly-name"
                                                       smsApplicationSid="some-sms-application-sid"
                                                       sms-fallback-flow-ref="flowToExecuteOnSmsFallback"
                                                       smsUrl="some-sms-url"
                                                       smsMethod="GET"
                                                       voice-fallback-flow-ref="flowToExecuteOnVoiceFallback"
                                                       voiceUrl="some-voice-url"
                                                       voiceMethod="GET"/>
<!-- END_INCLUDE(twilio:addIncomingPhoneNumberByAreaCode) -->

<!-- BEGIN_INCLUDE(twilio:getApplication) -->
        <twilio:get-application  applicationSid="some-application-sid"/>
<!-- END_INCLUDE(twilio:getApplication) -->

<!-- BEGIN_INCLUDE(twilio:updateApplication) -->
        <twilio:update-application applicationSid="some-application-sid"
                                   apiVersion="2010-04-01" friendlyName="some-friendly-name"
                                   sms-fallback-flow-ref="flowToExecuteOnSmsFallback"
                                   sms-status-callback-flow-ref="flowToExecuteOnStatusCallback"
                                   smsUrl="some-sms-url"
                                   smsMethod="GET"
                                   status-callback-flow-ref="flowToExecuteOnStatusCallback"
                                   voiceCallerIdLookup="false"
                                   voice-fallback-flow-ref="flowToExecuteOnVoiceFallback"
                                   voiceUrl="some-voice-url"
                                   voiceMethod="GET"/>
<!-- END_INCLUDE(twilio:updateApplication) -->

<!-- BEGIN_INCLUDE(twilio:deleteApplication) -->
        <twilio:delete-application applicationSid="some-application-sid"/>
<!-- END_INCLUDE(twilio:deleteApplication) -->

<!-- BEGIN_INCLUDE(twilio:getAllApplications) -->
        <twilio:get-all-applications friendlyName="some-friendly-name"/>
<!-- END_INCLUDE(twilio:getAllApplications) -->

<!-- BEGIN_INCLUDE(twilio:createApplication) -->
        <twilio:create-application friendlyName="some-friendly-name"
                                   apiVersion="2010-04-01" voiceCallerIdLookup="false"
                                   sms-fallback-flow-ref="flowToExecuteOnSmsFallback"
                                   sms-status-callback-flow-ref="flowToExecuteOnStatusCallback"
                                   smsUrl="some-sms-url"
                                   smsMethod="GET"
                                   status-callback-flow-ref="flowToExecuteOnStatusCallback"
                                   voice-fallback-flow-ref="flowToExecuteOnVoiceFallback"
                                   voiceUrl="some-voice-url"
                                   voiceMethod="GET"/>
<!-- END_INCLUDE(twilio:createApplication) -->

<!-- BEGIN_INCLUDE(twilio:getCall) -->
        <twilio:get-call callSid="some-call-sid"/>
<!-- END_INCLUDE(twilio:getCall) -->

<!-- BEGIN_INCLUDE(twilio:getCalls) -->
        <twilio:get-calls to="some-to" from="some-from"
                          status="some-status" startTime="start-time"/>
<!-- END_INCLUDE(twilio:getCalls) -->

<!-- BEGIN_INCLUDE(twilio:makeCall) -->
        <twilio:make-call from="some-from" to="some-to"
                          applicationSid="some-application-sid" method="GET" fallback-flow-ref="flowToExecuteOnFallback"
                          status-callback-flow-ref="flowToExecuteOnStatusCallback"
                          sendDigits="some-digits"
                          ifMachine="continue" timeout="123"/>
<!-- END_INCLUDE(twilio:makeCall) -->

<!-- BEGIN_INCLUDE(twilio:changeCallState) -->
        <twilio:change-call-state callSid="some-call-sid" url="some-url"
                                  method="GET" status="some-status"/>
<!-- END_INCLUDE(twilio:changeCallState) -->

<!-- BEGIN_INCLUDE(twilio:getConference) -->
       <twilio:get-conference conferenceSid="some-conference-sid"/>
<!-- END_INCLUDE(twilio:getConference) -->

<!-- BEGIN_INCLUDE(twilio:getConferences) -->
        <twilio:get-conferences status="some-status"
                                friendlyName="some-friendly-name" dateCreated="some-date-created"
                                dateUpdated="some-date-updated"/>
<!-- END_INCLUDE(twilio:getConferences) -->

<!-- BEGIN_INCLUDE(twilio:getParticipant) -->
        <twilio:get-participant conferenceSid="some-conference-sid"
                                callSid="some-call-sid"/>
<!-- END_INCLUDE(twilio:getParticipant) -->

<!-- BEGIN_INCLUDE(twilio:updateParticipantStatus) -->
        <twilio:update-participant-status conferenceSid="some-conference-sid" callSid="some-call-sid" muted="false"/>
<!-- END_INCLUDE(twilio:updateParticipantStatus) -->

<!-- BEGIN_INCLUDE(twilio:deleteParticipant) -->
        <twilio:delete-participant conferenceSid="some-conference-sid"
                                   callSid="some-call-sid"/>
<!-- END_INCLUDE(twilio:deleteParticipant) -->

<!-- BEGIN_INCLUDE(twilio:getParticipants) -->
        <twilio:get-participants conferenceSid="some-conference-sid"
                                 muted="false"/>
<!-- END_INCLUDE(twilio:getParticipants) -->

<!-- BEGIN_INCLUDE(twilio:getSmsMessage) -->
        <twilio:get-sms-message smsMessageSid="some-sms-message-id"/>
<!-- END_INCLUDE(twilio:getSmsMessage) -->

<!-- BEGIN_INCLUDE(twilio:getAllSmsMessages) -->
        <twilio:get-all-sms-messages to="some-to" from="some-from"
                                     dateSent="some-date-sent"/>
<!-- END_INCLUDE(twilio:getAllSmsMessages) -->

<!-- BEGIN_INCLUDE(twilio:sendSmsMessage) -->
        <twilio:send-sms-message from="some-from" to="some-to"
                                 body="some-body" status-callback-flow-ref="flowToExecuteOnStatusCallback"
                                 applicationSid="some-application-sid"/>
<!-- END_INCLUDE(twilio:sendSmsMessage) -->

<!-- BEGIN_INCLUDE(twilio:getRecording) -->
        <twilio:get-recording recordingSid="some-recording-sid"
                              recordingType="MP3"/>
<!-- END_INCLUDE(twilio:getRecording) -->

<!-- BEGIN_INCLUDE(twilio:deleteRecording) -->
       <twilio:delete-recording recordingSid="some-recording-sid"/>
<!-- END_INCLUDE(twilio:deleteRecording) -->

<!-- BEGIN_INCLUDE(twilio:getRecordings) -->
        <twilio:get-recordings callSid="some-call-sid"
                               dateCreated="some-date-created"/>
<!-- END_INCLUDE(twilio:getRecordings) -->

<!-- BEGIN_INCLUDE(twilio:getTranscriptionByTranscriptionSid) -->
        <twilio:get-transcription-by-transcription-sid transcriptionSid="some-transcription-sid"
                                                       transcriptionFormat="TXT"/>
<!-- END_INCLUDE(twilio:getTranscriptionByTranscriptionSid) -->

<!-- BEGIN_INCLUDE(twilio:getTranscriptions) -->
        <twilio:get-transcriptions recordingSid="some-recording-sid"
                                   transcriptionFormat="XML"/>
<!-- END_INCLUDE(twilio:getTranscriptions) -->

<!-- BEGIN_INCLUDE(twilio:getNotification) -->
        <twilio:get-notification notificationSid="some-notification-sid"/>
<!-- END_INCLUDE(twilio:getNotification) -->

<!-- BEGIN_INCLUDE(twilio:deleteNotification) -->
        <twilio:delete-notification notificationSid="some-notification-sid"/>
<!-- END_INCLUDE(twilio:deleteNotification) -->

<!-- BEGIN_INCLUDE(twilio:getAllNotifications) -->
        <twilio:get-all-notifications log="1"
                                      messageDate="some-message-date"/>
<!-- END_INCLUDE(twilio:getAllNotifications) -->

<!-- BEGIN_INCLUDE(twilio:getNotificationsByCallSid) -->
        <twilio:get-notifications-by-call-sid callSid="some-call-sid"
                                              log="1" messageDate="some-message-date"/>
<!-- END_INCLUDE(twilio:getNotificationsByCallSid) -->

<!-- BEGIN_INCLUDE(twilio:getSandbox) -->
        <twilio:get-sandbox />
<!-- END_INCLUDE(twilio:getSandbox) -->

<!-- BEGIN_INCLUDE(twilio:updateSandbox) -->
        <twilio:update-sandbox voiceUrl="some-voice-url"
                               voiceMethod="GET"
                               smsUrl="some-sms-url" smsMethod="GET"/>
<!-- END_INCLUDE(twilio:updateSandbox) -->